*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background: #bacecb;
  color: #ffffff;
  height: 65px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
}

body {
  margin-top: 55px;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  margin: 45px;
  color: white;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portrait {
  display: flex;
  align-items: center;
  margin-left: 15%;
  flex: 1;
}

.facts {
  flex-direction: 2;
  margin-left: 50px;
}

.interests {
  list-style-type: square;
}

h1 {
  font-size: 5rem;
  margin-left: 50px;
  line-height: 1;
}

.profession {
  position: relative;
  margin: 20px 10%;
  border: 4px double #479d90;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  border-radius: 1rem;
}

.contact {
  display: flex;
  position: relative;
  margin: 20px 10%;
  border: 4px double #479d90;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  border-radius: 1rem;
}

.contact figure {
  text-align: center;
}

.contact figcaption {
  display: block;
  margin-top: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.top-element {
  order: -1;
}

.bottom-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
